/**
* CSS styling for the register page
*/
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #d1cdff;
  background-image: url(/images/back4.jpg);
}

.form-register {
  max-width: 330px;
  padding: 4px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #f0f0f0;
}
.form-register .form-register-heading,
.form-register .checkbox {
  font-size: 30px;
  margin-bottom: 10px;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register input[type="submit"] {
  margin-top: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}